<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="copyright" content="chanjetpay.com"/>
    <meta name="keywords" content="蒜苔，聚餐，美食，点菜，餐饮服务，扫码点餐，扫码预约，扫码排队，扫码结账"/>
    <meta name="description" content="专注于移动web的智能餐饮服务平台"/>
    <meta name="author" content="bao.li.net@hotmail.com"/>

    <link rel="icon" href="garlic_32px.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="../static/pure/v1.0/pure-min.css" integrity="sha384-" crossorigin="anonymous">

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="../static/pure/v1.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="../static/pure/v1.0/grids-responsive-min.css">
    <!--<![endif]-->

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="../static/pure/css/layouts/marketing-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="../static/pure/css/layouts/marketing.css">
    <!--<![endif]-->
</head>
<body>

	<div class="header">
			<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
	        <a class="pure-menu-heading" href="javascript:void(0);">蒜苔</a>

	        <ul class="pure-menu-list">
	            <li class="pure-menu-item"><a href="javascript:void(0);" class="pure-menu-link">首页</a></li>
	            <li class="pure-menu-item"><a href="javascript:void(0);" class="pure-menu-link">演示</a></li>
	            <li class="pure-menu-item pure-menu-selected"><a href="javascript:void(0);" class="pure-menu-link">关于</a></li>
	        </ul>
	    </div>
	</div>

  <div class="content">

    <div class="content-body pure-g">
        <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
            <form class="pure-form pure-form-stacked">
                <fieldset>

                    <label for="name">Your Name</label>
                    <input id="name" type="text" placeholder="Your Name">


                    <label for="email">Your Email</label>
                    <input id="email" type="email" placeholder="Your Email">

                    <label for="password">Your Password</label>
                    <input id="password" type="password" placeholder="Your Password">

                    <button type="submit" class="pure-button">Sign Up</button>
                </fieldset>
            </form>
        </div>

        <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
            <h4>Contact Us</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
            </p>

            <h4>More Information</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
    </div>

	  <h2 class="content-head is-center">Dolore magna aliqua. Uis aute irure.</h2>

	  <div class="content-body pure-g">

		  <div class="l-box-lrg pure-u-1 pure-u-md-1-4">
			  <a href="#">
					<img class="pure-img" src="https://c2.staticflickr.com/6/5515/9199788659_818383d0b8_k.jpg" alt="Meadow">
		    </a>
		  </div>
		  <div class="l-box-lrg pure-u-1 pure-u-md-1-4">
			  <a href="#">
				  <img class="pure-img" src="https://c2.staticflickr.com/6/5515/9199788659_818383d0b8_k.jpg" alt="Meadow">
			  </a>
		  </div>
		  <div class="l-box-lrg pure-u-1 pure-u-md-1-4">
			  <a href="#">
				  <img class="pure-img" src="https://c2.staticflickr.com/6/5515/9199788659_818383d0b8_k.jpg" alt="Meadow">
			  </a>
		  </div>
		  <div class="l-box-lrg pure-u-1 pure-u-md-1-4">
			  <a href="#">
				  <img class="pure-img" src="https://c2.staticflickr.com/6/5515/9199788659_818383d0b8_k.jpg" alt="Meadow">
			  </a>
		  </div>
	  </div>

  </div>

  <style>
    .content-body {
	    max-width: 980px;
	    margin: 100px auto;
    }

    a {
      color: #3b8bba; /* block-background-text-normal */
      text-decoration: none;
    }

    a:visited {
      color: #265778; /* block-normal-text-normal */
    }
  </style>

  <div class="footer l-box is-center">
      © 2015-2017 蒜苔网版权所有 <a href="javascript:void(0);">联系方法</a> <a href="javascript:void(0);">隐私政策</a> <a href="mailto:bao.li.net@hotmail.com">意见反馈</a>
  </div>

</body>
</html>
