<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>首页-商户平台</title>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<link href="../static/dist/semantic.min.css" rel="stylesheet" th:href="@{/dist/semantic.min.css}"/>
	<link href="../static/plugins/ionicons/css/ionicons.min.css" rel="stylesheet" th:href="@{/plugins/ionicons/css/ionicons.min.css}"/>
	<link href="../static/css/main.css" rel="stylesheet" th:href="@{/css/main.css}"/>
	
</head>
<body>

<div id="contextWrap">
	<!--sidebar-->
	<div class="ui sidebar vertical left menu overlay  borderless visible sidemenu inverted  grey" style="-webkit-transition-duration: 0.1s; transition-duration: 0.1s;" data-color="grey">
		
		<a class="item logo" href="home.html">
			<img src="../static/img/logo.png" alt="stagblogo" /><img src="../static/img/thumblogo.png" alt="stagblogo" class="displaynone" />
		</a>
		
		<div class="ui accordion inverted">
			
			<a class="title item active">
				<i class="ion-speedometer titleIcon icon"></i> 欢迎 <i class="dropdown icon"></i>
			</a>
			<div class="content active">
				<a class="item transition visible" href="home.html">
					我的社区
				</a>
				<a class="item transition visible" href="home.html">
					商户管理
				</a>
				<a class="item transition visible" href="home.html">
					我的商户
				</a>
				<a class="item transition visible" href="home.html">
					操作员管理
				</a>
				<a class="item transition visible" href="home.html">
					会员管理
				</a>
			</div>
			
			<div class="title item">
				<i class="ion-ios-lightbulb titleIcon icon"></i> 交易管理 <i class="dropdown icon"></i>
			</div>
			<div class="content">
				<a class="item transition visible" href="inbox.html">
					充值记录
				</a>
				
				<a class="item transition visible" href="chat.html">
					标的记录
				</a>
				
				<a class="item transition visible" href="filter.html">
					债权债务
				</a>
			</div>
			
			<div class="title item">
				<i class="ion-ios-world titleIcon  icon"></i> 资金管理 <i class="dropdown icon"></i>
			</div>
			<div class="content">
				<a class="item" href="sidebar.html">
					账户信息
				</a>
				<a class="item" href="menu.html">
					历史账单
				</a>
				<a class="item" href="box.html">
					统计报表
				</a>
			</div>
			
			<div class="title item">
				<i class="ion-briefcase titleIcon icon"></i> 系统设置 <i class="dropdown icon"></i>
			</div>
			<div class="content">
				<a class="item" href="breadcrumb.html">
					个人信息
				</a>
				<a class="item" href="button.html">
					社区信息
				</a>
				<a class="item" href="divider.html">
					商户信息
				</a>
			</div>
		</div>
		
		<div class="ui dropdown item displaynone scrolling">
			<span> 欢迎 </span>
			<i class="ion-speedometer icon"></i>
			<div class="menu">
				<div class="header">
					欢迎
				</div>
				<div class="ui divider"></div>
				<a class="item" href="home.html">
					我的社区
				</a>
				<a class="item" href="home.html">
					商户管理
				</a>
				<a class="item" href="home.html">
					我的商户
				</a>
				<a class="item" href="home.html">
					操作员管理
				</a>
				<a class="item" href="home.html">
					会员管理
				</a>
			</div>
		</div>
		
		<div class="ui dropdown item displaynone scrolling">
			<span>交易管理</span>
			<i class="ion-ios-lightbulb icon"></i>
			<div class="menu">
				<div class="header">
					交易管理
				</div>
				<div class="ui divider"></div>
				<a class="item" href="inbox.html">
					充值记录
				</a>
				<a class="item" href="inbox.html">
					标的记录
				</a>
				<a class="item" href="filter.html">
					债权债务
				</a>
			</div>
		</div>
		
		<div class="ui dropdown item displaynone scrolling">
			<span> 资金管理 </span>
			<i class="ion-ios-world icon"></i>
			<div class="menu">
				<div class="header">
					资金管理
				</div>
				<div class="ui divider"></div>
				<a class="item" href="sidebar.html">
					账户信息
				</a>
				<a class="item" href="menu.html">
					历史账单
				</a>
				<a class="item" href="box.html">
					统计报表
				</a>
			</div>
		</div>
		
		<div class="ui dropdown item displaynone scrolling">
			<span> 系统设置 </span>
			<i class="ion-briefcase icon"></i>
			<div class="menu">
				<div class="header">
					系统设置
				</div>
				<div class="ui divider"></div>
				<a class="item" href="breadcrumb.html">
					个人信息
				</a>
				<a class="item" href="breadcrumb.html">
					社区信息
				</a>
				<a class="item" href="button.html">
					商户信息
				</a>
			</div>
		</div>
		
	</div>
	<!--sidebar-->
	
	<div class="pusher">
		<!--navbar-->
		<div class="navslide navwrap">
			<div class="ui menu icon borderless grid" data-color="inverted white">
				<a class="item labeled openbtn">
					<i class="ion-navicon-round big icon"></i>
				</a>
				<div class="item ui colhidden">
					<div class="ui icon input">
						<input type="text" placeholder="Search...">
						<i class="search icon"></i>
					</div>
				</div>
				<div class="right menu colhidden">
					
					<div class="ui dropdown item labeled icon">
						<i class="bell icon"></i>
						<div class="ui red label mini circular">3</div>
						<div class="menu">
							<div class="header">
								提醒消息
							</div>
							<div class="item">
								<img class="ui avatar image" src="../static/img/avatar/people/Hershell.png" alt="label-image" /> <a href="#">完成公众号配置</a>
							</div>
						
							<div class="header">
								报警消息
							</div>
							<div class="item">
								<img class="ui avatar image" src="../static/img/avatar/people/Meggie.png" alt="label-image" /> 请还款标的
							</div>
							<div class="item">
								<img class="ui avatar image" src="../static/img/avatar/people/Meggie.png" alt="label-image" /> 请确认债务
							</div>
						</div>
					</div>
					<div class="ui dropdown item">
						<img class="ui mini circular image" src="../static/img/avatar/people/enid.png" alt="label-image" />
						 张三丰的歌 <i class="dropdown icon"></i>
						<div class="menu">
							<a class="item">个人信息</a>
							<a class="item"></i>修改密码</a>
							<div class="ui divider"></div>
							<a class="item">退出登录</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--navbar-->
		
		<!--maincontent-->
		<div class="mainWrap navslide">
			
			<div class="ui breadcrumb">
				<i class="angle right icon"></i>
				<a class="section">智慧生活</a>
				<div class="divider"> / </div>
				<div class="active section">我的社区</div>
			</div>
			
			<div class="ui equal width left aligned padded grid stackable">
				<!--Site Content-->
				
				<div class="row">
					<div class="sixteen wide tablet four wide computer column">
						
						<div class="ui segment left aligned">
							
							<div class="ui  statistic">
								<div class="value counter">
									3,952
								</div>
								<div class="label">
									订单数
								</div>
								<i class="icon ion-ios-cart teal statisticIcon"></i>
							</div>
							<div id="flot-order" class="flotchart"></div>
						</div>
					</div>
					
					<div class="sixteen wide tablet four wide computer column">
						<div class="ui segment left aligned">
							
							<div class="ui  statistic">
								<div class="value">
									<span class="counter">57.6</span> %
								</div>
								<div class="label">
									成功率
								</div>
								<i class="icon ion-ios-timer blue statisticIcon"></i>
							</div>
							<div id="flot-avarage" class="flotchart"></div>
						</div>
					</div>
					
					<div class="sixteen wide tablet four wide computer column">
						
						<div class="ui segment left aligned">
							
							<div class="ui  statistic">
								<div class="value counter">
									￥3,112
								</div>
								<div class="label">
									交易额
								</div>
								<i class="icon ion-magnet purple statisticIcon"></i>
							</div>
							<div id="flot-saves" class="flotchart"></div>
						</div>
					</div>
					
					<div class="sixteen wide tablet four wide computer column">
						
						<div class="ui segment left aligned">
							
							<div class="ui  statistic">
								
								<div class="value counter">
									9,582
								</div>
								<div class="label">
									访问量
								</div>
								<i class="icon ion-trophy red statisticIcon"></i>
							</div>
							<div id="flot-view" class="flotchart"></div>
						</div>
					</div>
				</div>
				
				<!--Site Content-->
			</div>
		</div>
		<!--maincontent-->
	</div>
</div>

<!--jquery-->
<script src="../static/js/jquery-2.1.4.min.js" th:src="@{/js/jquery-2.1.4.min.js}"></script>
<!--jquery-->
<!--semantic-->
<script src="../static/dist/semantic.min.js" th:src="@{/dist/semantic.min.js}"></script>
<!--semantic-->
<script src="../static/plugins/cookie/js.cookie.js" th:src="@{/plugins/cookie/js.cookie.js}"></script>
<script src="../static/plugins/nicescrool/jquery.nicescroll.min.js" th:src="@{/plugins/nicescrool/jquery.nicescroll.min.js}"></script>

<script data-pace-options='{ "ajax": false }' src="../static/plugins/pacejs/pace.js" th:src="@{/plugins/pacejs/pace.js}"></script>

<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>

</body>
</html>
