<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>首页-商户平台</title>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	
	<link rel="icon" href="../static/favicon.jpg" type="image/x-icon" th:href="@{/favicon.jpg}"/>
	<link href="../static/dist/semantic.min.css" rel="stylesheet" th:href="@{/dist/semantic.min.css}"/>
	<link href="../static/plugins/ionicons/css/ionicons.min.css" rel="stylesheet" th:href="@{/plugins/ionicons/css/ionicons.min.css}"/>
	<link href="../static/css/main.css" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<div id="contextWrap">
	<!--sidebar-->
	<div class="ui sidebar vertical left menu overlay  borderless visible sidemenu inverted  grey"
	     style="-webkit-transition-duration: 0.1s; transition-duration: 0.1s;" data-color="grey">
		
		<a class="item logo" href="home.html">
			<img src="../static/img/logo.png" alt="stagblogo" th:src="@{/img/logo.png}"/>
			<img src="../static/img/thumblogo.png" alt="stagblogo" class="displaynone" th:src="@{/img/thumblogo.png}"/>
		</a>
		
		<div class="ui accordion inverted">
			
			<a class="title item active">
				<i class="ion-speedometer titleIcon icon"></i> 欢迎 <i class="dropdown icon"></i>
			</a>
			<div class="content active">
				<a class="item transition visible" href="/vender/block" th:if="${user.blockOperator}">
					我的社区
				</a>
				<a class="item transition visible" href="/vender/block/merchant">
					商户管理
				</a>
				<a class="item transition visible" href="/vender/merchant">
					我的商户
				</a>
				<a class="item transition visible" href="/vender/operator">
					操作员管理
				</a>
				<a class="item transition visible" href="/vender/member">
					会员管理
				</a>
			</div>
			
			<div class="title item">
				<i class="ion-ios-lightbulb titleIcon icon"></i> 交易管理 <i class="dropdown icon"></i>
			</div>
			<div class="content">
				<a class="item transition visible" href="/vender/trade/deposit">
					充值记录
				</a>
				<a class="item transition visible" href="vender/trade/loan">
					标的记录
				</a>
				<a class="item transition visible" href="vender/trade/claim">
					债权债务
				</a>
			</div>
			
			<div class="title item">
				<i class="ion-ios-world titleIcon  icon"></i> 资金管理 <i class="dropdown icon"></i>
			</div>
			<div class="content">
				<a class="item" href="/vender/account">
					账户信息
				</a>
				<a class="item" href="/vender/account/billing">
					历史账单
				</a>
				<a class="item" href="/vender/account/statistic">
					统计报表
				</a>
			</div>
			
			<div class="title item">
				<i class="ion-briefcase titleIcon icon"></i> 系统设置 <i class="dropdown icon"></i>
			</div>
			<div class="content">
				<a class="item" href="/vender/personal">
					个人信息
				</a>
				<a class="item" href="/vender/rate">
					利率设置
				</a>
				<a class="item" href="/vender/publish">
					融资披露
				</a>
			</div>
		</div>
		
		<div class="ui dropdown item displaynone scrolling">
			<span> 欢迎 </span>
			<i class="ion-speedometer icon"></i>
			<div class="menu">
				<div class="header">
					欢迎
				</div>
				<div class="ui divider"></div>
				<a class="item" href="/vender/block">
					我的社区
				</a>
				<a class="item" href="/vender/block/merchant">
					商户管理
				</a>
				<a class="item" href="/vender/merchant">
					我的商户
				</a>
				<a class="item" href="/vender/operator">
					操作员管理
				</a>
				<a class="item" href="/vender/member">
					会员管理
				</a>
			</div>
		</div>
		
		<div class="ui dropdown item displaynone scrolling">
			<span>交易管理</span>
			<i class="ion-ios-lightbulb icon"></i>
			<div class="menu">
				<div class="header">
					交易管理
				</div>
				<div class="ui divider"></div>
				<a class="item" href="/vender/trade/deposit">
					充值记录
				</a>
				<a class="item" href="vender/trade/loan">
					标的记录
				</a>
				<a class="item" href="vender/trade/claim">
					债权债务
				</a>
			</div>
		</div>
		
		<div class="ui dropdown item displaynone scrolling">
			<span> 资金管理 </span>
			<i class="ion-ios-world icon"></i>
			<div class="menu">
				<div class="header">
					资金管理
				</div>
				<div class="ui divider"></div>
				<a class="item" href="/vender/account">
					账户信息
				</a>
				<a class="item" href="/vender/account/billing">
					历史账单
				</a>
				<a class="item" href="/vender/account/statistic">
					统计报表
				</a>
			</div>
		</div>
		
		<div class="ui dropdown item displaynone scrolling">
			<span> 系统设置 </span>
			<i class="ion-briefcase icon"></i>
			<div class="menu">
				<div class="header">
					系统设置
				</div>
				<div class="ui divider"></div>
				<a class="item" href="/vender/personal">
					个人信息
				</a>
				<a class="item" href="/vender/rate">
					利率设置
				</a>
				<a class="item" href="/vender/publish">
					融资批露
				</a>
			</div>
		</div>
	
	</div>
	<!--sidebar-->
	
	<div class="pusher">
		<!--navbar-->
		<div class="navslide navwrap">
			<div class="ui menu icon borderless grid" data-color="inverted white">
				<a class="item labeled openbtn">
					<i class="ion-navicon-round big icon"></i>
				</a>
				<div class="item ui colhidden">
					<div class="ui icon input">
						<input type="text" placeholder="快速查找...">
						<i class="search icon"></i>
					</div>
				</div>
				<div class="right menu colhidden">
					
					<div class="ui dropdown item labeled icon">
						<i class="bell icon"></i>
						<div class="ui red label mini circular" th:text="${user.alertCount}">3</div>
						<div class="menu">
							<div class="header">
								消息
							</div>
							<div class="item" th:each="notice : ${user.alertMessages}">
								<img class="ui avatar image" src="../static/img/avatar/people/Hershell.png" alt="label-image" th:src="${notice.iconUrl}"/>
								<a href="#" th:text="${notice.title}" th:href="${notice.linkUri}">完成公众号配置</a>
							</div>
							
							<div class="header" th:remove="all">
								报警
							</div>
							<div class="item" th:remove="all">
								<img class="ui avatar image" src="../static/img/avatar/people/Meggie.png" alt="label-image"/> 请还款标的
							</div>
						</div>
					</div>
					<div class="ui dropdown item">
						<img class="ui mini circular image" src="../static/img/avatar/people/enid.png" alt="label-image" th:src="${user.avatarUrl}"/>
						<span th:text="${user.userName}">张三丰的歌</span> <i class="dropdown icon"></i>
						<div class="menu">
							<a class="item" th:href="@{/vender/personal}">个人信息</a>
							<a class="item" th:href="@{/vender/password}"></i>修改密码</a>
							<div class="ui divider"></div>
							<a class="item" th:href="@{/logout}">退出登录</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--navbar-->
		
		<!--maincontent-->
		<div class="mainWrap navslide">
			<div class="ui breadcrumb">
				<i class="angle right icon"></i>
				<a class="section">智慧生活</a>
				<div class="divider"> /</div>
				<div class="active section">我的社区</div>
			</div>
			
			<div class="ui equal width left aligned padded grid stackable">
				<!--Site Content-->
				
				<div class="row">
					<div class="sixteen wide tablet eight wide computer column">
						<div class="ui segments">
							<div class="ui segment">
								<h3 class="ui header">社区基本信息</h3>
							</div>
							<div class="ui form segment">
								
								<div class="two fields disabled">
									<div class="field">
										<label>社区编码</label>
										<input type="text" value="10010" th:value="${block.blockCode}">
									</div>
									
									<div class="field">
										<label>社区名称</label>
										<input type="text" value="回龙观东大街" th:value="${block.blockName}">
									</div>
								</div>
								
								<div class="three fields disabled">
									<div class="field">
										<label>省份</label>
										<input type="text" value="广东省" th:value="${block.province}">
									</div>
									<div class="field">
										<label>城市</label>
										<input type="text" value="东莞" th:value="${block.city}">
									</div>
									<div class="field">
										<label>地区</label>
										<input type="text" value="长阳区" th:value="${block.district}">
									</div>
								</div>
								
								<div class="two fields disabled">
									<div class="field">
										<label>经度</label>
										<input type="text" value="10010" th:value="${block.latitude}">
									</div>
									<div class="field">
										<label>纬度</label>
										<input type="text" value="10010" th:value="${block.longitude}">
									</div>
								</div>
								
								<div class="three fields disabled">
									<div class="field">
										<label>管理员姓名</label>
										<input type="text" value="10010" th:value="${block.wardenName}">
									</div>
									<div class="field">
										<label>管理员邮箱</label>
										<input type="text" value="10010" th:value="${block.wardenEmail}">
									</div>
									<div class="field">
										<label>管理员电话</label>
										<input type="text" value="10010" th:value="${block.wardenPhone}">
									</div>
								</div>
								
								<div class="field disabled">
									<label>社区状态</label>
									<input type="text" value="10010" th:value="${block.state}">
								</div>
								
								<div class="field disabled">
									<label>备注信息</label>
									<textarea rows="3" th:text="${block.memo}">1234</textarea>
								</div>
							
							</div>
						</div>
					</div>
					
					<div class="sixteen wide tablet eight wide computer column">
						<div class="ui segments">
							<div class="ui segment">
								<h3 class="ui header">微信支付参数配置</h3>
								<div class="ui green message" th:if="${message}" th:text="${message}">更新成功</div>
							</div>
							<div class="ui segment">
								<form id="wxForm" class="ui fluid form" method="post" th:action="@{/vender/block/wxOfficial}">
									
									<div class="field">
										<label>微信商户id</label>
										<input type="text" name="officialId" th:value="${block.wxOfficial.officialId}">
									</div>
									<div class="two fields">
										<div class="field">
											<label>公众号App ID</label>
											<input type="text" name="appId" th:value="${block.wxOfficial.appId}">
										</div>
										
										<div class="field">
											<label>公众号类型</label>
											<div class="ui selection dropdown" tabindex="0">
												<input type="hidden" name="officialType" th:value="${block.wxOfficial.officialType}">
												<div class="text" th:text="${block.wxOfficial.officialType}">1234</div>
												<i class="dropdown icon"></i>
												<div class="menu" tabindex="-1">
													<div class="item" data-value="SUBSCRIBE">订阅号</div>
													<div class="item" data-value="SERVICE">服务号</div>
													<div class="item" data-value="ENTERPRISE">企业号</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="field">
										<label>密钥</label>
										<input type="text" name="appSecret" th:value="${block.wxOfficial.appSecret}">
									</div>
									
									<div class="field">
										<label>token</label>
										<input type="text" name="token" th:value="${block.wxOfficial.token}">
									</div>
									
									<div class="field">
										<label>授权访问url</label>
										<input type="text" name="url" th:value="${block.wxOfficial.url}">
									</div>
								
								</form>
							</div>
							<div class="ui segment center aligned">
								<button id="wxSubmit" class="ui primary button saving">更新微信支付参数</button>
							</div>
						</div>
					
					
					</div>
				</div>
				
				<!--Site Content-->
			</div>
		
		</div>
		<!--maincontent-->
	</div>
</div>

<!--jquery-->
<script src="../static/js/jquery-2.1.4.min.js" th:src="@{/js/jquery-2.1.4.min.js}"></script>
<!--jquery-->
<!--semantic-->
<script src="../static/dist/semantic.min.js" th:src="@{/dist/semantic.min.js}"></script>
<!--semantic-->
<script src="../static/plugins/cookie/js.cookie.js" th:src="@{/plugins/cookie/js.cookie.js}"></script>
<script src="../static/plugins/nicescrool/jquery.nicescroll.min.js" th:src="@{/plugins/nicescrool/jquery.nicescroll.min.js}"></script>

<script data-pace-options='{ "ajax": false }' src="../static/plugins/pacejs/pace.js" th:src="@{/plugins/pacejs/pace.js}"></script>

<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>

<script type="text/javascript">
	$(function () {
		$("#wxSubmit").on("click", function (e) {
			$("#wxForm").submit();
		});
	})
</script>

</body>
</html>
