<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>首页-商户平台</title>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	
	<link rel="icon" href="../static/favicon.jpg" type="image/x-icon" th:href="@{/favicon.jpg}"/>
	<link href="../static/dist/semantic.min.css" rel="stylesheet" th:href="@{/dist/semantic.min.css}"/>
	<link href="../static/plugins/ionicons/css/ionicons.min.css" rel="stylesheet" th:href="@{/plugins/ionicons/css/ionicons.min.css}"/>
	<link href="../static/css/main.css" rel="stylesheet" th:href="@{/css/main.css}"/>
	
	<link href="../static/plugins/lobibox/css/lobibox.css" rel="stylesheet" th:href="@{/plugins/lobibox/css/lobibox.css}" />
</head>
<body>

<div id="contextWrap">
	<!--sidebar-->
	<div class="ui sidebar vertical left menu overlay  borderless visible sidemenu inverted  grey"
	     style="-webkit-transition-duration: 0.1s; transition-duration: 0.1s;" data-color="grey">
		
		<a class="item logo" href="home.html">
			<img src="../static/img/logo.png" alt="stagblogo" th:src="@{/img/logo.png}"/>
			<img src="../static/img/thumblogo.png" alt="stagblogo" class="displaynone" th:src="@{/img/thumblogo.png}"/>
		</a>
		
		<div class="ui accordion inverted">
			
			<a class="title item active">
				<i class="ion-speedometer titleIcon icon"></i> 欢迎 <i class="dropdown icon"></i>
			</a>
			<div class="content active">
				<a class="item transition visible" href="/vender/block" th:if="${user.blockOperator}">
					我的社区
				</a>
				<a class="item transition visible" href="/vender/merchant-index">
					商户管理
				</a>
				<a class="item transition visible" href="/vender/merchant">
					我的商户
				</a>
				<a class="item transition visible" href="/vender/operator-index">
					操作员管理
				</a>
				<a class="item transition visible" href="/vender/member-index">
					会员管理
				</a>
			</div>
			
			<div class="title item">
				<i class="ion-ios-lightbulb titleIcon icon"></i> 交易管理 <i class="dropdown icon"></i>
			</div>
			<div class="content">
				<a class="item transition visible" href="/vender/deposit-index">
					充值记录
				</a>
				<a class="item transition visible" href="vender/loan-index">
					标的记录
				</a>
				<a class="item transition visible" href="vender/claim-index">
					债权债务
				</a>
			</div>
			
			<div class="title item">
				<i class="ion-ios-world titleIcon  icon"></i> 资金管理 <i class="dropdown icon"></i>
			</div>
			<div class="content">
				<a class="item" href="/vender/account">
					账户信息
				</a>
				<a class="item" href="/vender/account/billing">
					历史账单
				</a>
				<a class="item" href="/vender/account/statistic">
					统计报表
				</a>
			</div>
			
			<div class="title item">
				<i class="ion-briefcase titleIcon icon"></i> 系统设置 <i class="dropdown icon"></i>
			</div>
			<div class="content">
				<a class="item" href="/vender/personal">
					个人信息
				</a>
				<a class="item" href="/vender/rate">
					利率设置
				</a>
				<a class="item" href="/vender/publish">
					融资披露
				</a>
			</div>
		</div>
		
		<div class="ui dropdown item displaynone scrolling">
			<span> 欢迎 </span>
			<i class="ion-speedometer icon"></i>
			<div class="menu">
				<div class="header">
					欢迎
				</div>
				<div class="ui divider"></div>
				<a class="item" href="/vender/block">
					我的社区
				</a>
				<a class="item" href="/vender/merchant-index">
					商户管理
				</a>
				<a class="item" href="/vender/merchant">
					我的商户
				</a>
				<a class="item" href="/vender/operator-index">
					操作员管理
				</a>
				<a class="item" href="/vender/member-index">
					会员管理
				</a>
			</div>
		</div>
		
		<div class="ui dropdown item displaynone scrolling">
			<span>交易管理</span>
			<i class="ion-ios-lightbulb icon"></i>
			<div class="menu">
				<div class="header">
					交易管理
				</div>
				<div class="ui divider"></div>
				<a class="item" href="/vender/deposit-index">
					充值记录
				</a>
				<a class="item" href="vender/loan-index">
					标的记录
				</a>
				<a class="item" href="vender/claim-index">
					债权债务
				</a>
			</div>
		</div>
		
		<div class="ui dropdown item displaynone scrolling">
			<span> 资金管理 </span>
			<i class="ion-ios-world icon"></i>
			<div class="menu">
				<div class="header">
					资金管理
				</div>
				<div class="ui divider"></div>
				<a class="item" href="/vender/account">
					账户信息
				</a>
				<a class="item" href="/vender/billing">
					历史账单
				</a>
				<a class="item" href="/vender/statistic">
					统计报表
				</a>
			</div>
		</div>
		
		<div class="ui dropdown item displaynone scrolling">
			<span> 系统设置 </span>
			<i class="ion-briefcase icon"></i>
			<div class="menu">
				<div class="header">
					系统设置
				</div>
				<div class="ui divider"></div>
				<a class="item" href="/vender/personal">
					个人信息
				</a>
				<a class="item" href="/vender/rate">
					利率设置
				</a>
				<a class="item" href="/vender/publish">
					融资批露
				</a>
			</div>
		</div>
	
	</div>
	<!--sidebar-->
	
	<div class="pusher">
		<!--navbar-->
		<div class="navslide navwrap">
			<div class="ui menu icon borderless grid" data-color="inverted white">
				<a class="item labeled openbtn">
					<i class="ion-navicon-round big icon"></i>
				</a>
				<div class="item ui colhidden">
					<div class="ui icon input">
						<input type="text" placeholder="快速查找...">
						<i class="search icon"></i>
					</div>
				</div>
				<div class="right menu colhidden">
					
					<div class="ui dropdown item labeled icon">
						<i class="bell icon"></i>
						<div class="ui red label mini circular" th:text="${user.alertCount}">3</div>
						<div class="menu">
							<div class="header">
								消息
							</div>
							<div class="item" th:each="notice : ${user.alertMessages}">
								<img class="ui avatar image" src="../static/img/avatar/people/Hershell.png" alt="label-image" th:src="${notice.iconUrl}"/>
								<a href="#" th:text="${notice.title}" th:href="${notice.linkUri}">完成公众号配置</a>
							</div>
							
							<div class="header" th:remove="all">
								报警
							</div>
							<div class="item" th:remove="all">
								<img class="ui avatar image" src="../static/img/avatar/people/Meggie.png" alt="label-image"/> 请还款标的
							</div>
						</div>
					</div>
					<div class="ui dropdown item">
						<img class="ui mini circular image" src="../static/img/avatar/people/enid.png" alt="label-image" th:src="${user.avatarUrl}"/>
						<span th:text="${user.userName}">张三丰的歌</span> <i class="dropdown icon"></i>
						<div class="menu">
							<a class="item" th:href="@{/vender/personal}">个人信息</a>
							<a class="item" th:href="@{/vender/password}"></i>修改密码</a>
							<div class="ui divider"></div>
							<a class="item" th:href="@{/logout}">退出登录</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--navbar-->
		
		<!--maincontent-->
		
		<div class="mainWrap navslide">
			<div class="ui breadcrumb">
				<i class="angle right icon"></i>
				<a class="section">智慧生活</a>
				<div class="divider"> / </div>
				<div class="active section">操作员管理</div>
			</div>
			
			<div class="ui equal width left aligned padded grid stackable">
				<!--Site Content-->
				
				<div class="row">
					<div class="sixteen wide tablet sixteen wide computer column">
						<div class="ui segments">
							<div class="ui segment">
								<form class="ui fluid form" autocomplete="off" method="post" th:action="@{/vender/operator-index}">
									
									<div class="inline three fields">
										<div class="field">
											<label>操作员id</label>
											<input placeholder="操作员id" name="operatorId" type="text" th:value="${query.operatorId}">
										</div>
										
										<div class="field">
											<label>类型</label>
											<div class="ui selection dropdown" tabindex="0">
												<input type="hidden" name="type" th:value="${query.type}">
												<div class="text" th:text="${query.type}"></div>
												<i class="dropdown icon"></i>
												<div class="menu" tabindex="-1">
													<div class="item" data-value="">全部</div>
													<div class="item" data-value="ADMIN">管理员</div>
													<div class="item" data-value="STAFF">员工</div>
												</div>
											</div>
										</div>
										
										<div class="field">
											<label>姓名</label>
											<input placeholder="姓名" name="name" type="text" th:value="${query.name}">
										</div>
									</div>
									
									<div class="inline three fields">
										<div class="field">
											<label>手机号&nbsp;&nbsp;&nbsp;&nbsp;</label>
											<input placeholder="手机号" name="mobile" type="text" th:value="${query.mobile}">
										</div>
										
										<div class="field">
											<label>邮箱</label>
											<input placeholder="邮箱" name="email" type="text" th:value="${query.email}">
										</div>
										
										<div class="field">
											<label>状态</label>
											<div class="ui selection dropdown" tabindex="0">
												<input type="hidden" name="state" th:value="${query.state}">
												<div class="text" th:text="${query.state}"></div>
												<i class="dropdown icon"></i>
												<div class="menu" tabindex="-1">
													<div class="item" data-value="">全部</div>
													<div class="item" data-value="ACTIVE">有效</div>
													<div class="item" data-value="INACTIVE">无效</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="inline six fields">
										<div class="field">
											<a id="newButton" class="ui secondary submit button" href="#">添加操作员</a>
										</div>
										<div class="field"></div>
										<div class="field"></div>
										<div class="field"></div>
										<div class="field"></div>
										<div class="field">
											<button id="submit" class="ui primary button saving">查询</button>
										</div>
									</div>
								
								</form>
							
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="sixteen wide column">
						<div class="ui segments">
							
							<div class="ui segment">
								
								<table class="ui striped table tablet stackable">
									<thead>
									<tr>
										<th>操作员id</th>
										<th>姓名</th>
										<th>手机号</th>
										<th>邮箱</th>
										<th>类型</th>
										<th>角色</th>
										<th>状态</th>
										<th>操作</th>
									</tr>
									</thead>
									<tbody>
									<tr th:each="obj : ${list}">
										<td th:text="${obj.operatorId}">10010</td>
										<td th:text="${obj.name}">张三</td>
										<td th:text="${obj.mobile}">1348474633</td>
										<td th:text="${obj.email}">jhlilk22@yahoo.com</td>
										<td th:text="${obj.type}">管理员</td>
										<td th:text="${obj.role}">代理商</td>
										<td th:text="${obj.state}">生效</td>
										<td>
											<a class="ui image label" onclick="notify('操作成功','更新操作员状态','success');">停用</a>
											<a class="ui right floated label reset" th:attr="data-value=${${obj.operatorId}}"><i class="attach icon"></i>重置密码</a>
										</td>
									</tr>
									<tr th:remove="all">
										<td>Jamie Harington</td>
										<td>Jamie Harington</td>
										<td>January 11, 2014</td>
										<td>jmhari@yahoo.com</td>
										<td>John Lilki</td>
										<td>September 14, 2013</td>
										<td>jhlilk22@yahoo.com</td>
										<td>No</td>
									</tr>
									</tbody>
								</table>
							
							</div>
							
							<div class="ui segment">
								<h5 class="ui header" th:text="'共 '+ ${#lists.size(list)} + ' 条记录'">
									共xxx条记录
								</h5>
							</div>
						</div>
					</div>
					<!--Site Content-->
				</div>
			
			</div>
		</div>
		<!--maincontent-->
	</div>
</div>



<div id="newModal" class="ui fullscreen modal">
	<i class="close icon"></i>
	<div class="header">
		Update Your Settings
	</div>
	<div class="content">
		<div class="ui form">
			<h4 class="ui dividing header">Give us your feedback</h4>
			<div class="field">
				<label>Feedback</label>
				<textarea></textarea>
			</div>
			<div class="field">
				<div class="ui checkbox">
					<input type="checkbox" checked="checked" name="contact-me">
					<label>It's okay to contact me.</label>
				</div>
			</div>
		</div>
	</div>
	
	<div class="actions">
		<div class="ui button deny">Cancel</div>
		<div class="ui green button">Send</div>
	</div>
</div>


<div id="resetModal" class="ui fullscreen modal">
	<i class="close icon"></i>
	<div class="header">更新密码</div>
	<div class="content">
		<form class="ui form" method="post" th:action="@{}">
			<input name="operator" class="operator" type="hidden"/>
			<div class="field">
				<input class="password" placeholder="请输入新密码" name="password" type="text" />
			</div>
			<div class="field">
				<div class="ui checkbox">
					<input type="checkbox" checked="checked" name="contact-me">
					<label>It's okay to contact me.</label>
				</div>
			</div>
		</form>
	</div>
	
	<div class="actions">
		<div class="ui button deny">取消</div>
		<div class="ui green button">修改</div>
	</div>
</div>

<!--jquery-->
<script src="../static/js/jquery-2.1.4.min.js" th:src="@{/js/jquery-2.1.4.min.js}"></script>
<!--jquery-->
<!--semantic-->
<script src="../static/dist/semantic.min.js" th:src="@{/dist/semantic.min.js}"></script>
<!--semantic-->
<script src="../static/plugins/cookie/js.cookie.js" th:src="@{/plugins/cookie/js.cookie.js}"></script>
<script src="../static/plugins/nicescrool/jquery.nicescroll.min.js" th:src="@{/plugins/nicescrool/jquery.nicescroll.min.js}"></script>

<script data-pace-options='{ "ajax": false }' src="../static/plugins/pacejs/pace.js" th:src="@{/plugins/pacejs/pace.js}"></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>

<script src="../static/plugins/lobibox/js/notifications.js" th:src="@{/plugins/lobibox/js/notifications.js}"></script>

<script type="text/javascript">
	function notify(title, message, type) {
		Lobibox.notify(type, {
			size: 'normal',
			rounded: false,
			delayIndicator: true,
			msg: message,
			title: title,
		});
	}
	
	$(function () {

		$("#newButton").click(function () {
			$("#newModal").modal("show");
		});

		$(".reset").on("click", function () {
			var operatorId = $(this).attr("data-value");
			if(operatorId != ""){
			  $("#resetModal .operator").val(operatorId);
			  $("#resetModal").modal("show"); //hide
			}
		});
	});
</script>


</body>
</html>
